main{
    background-color: black;
    color: #fff;
    padding: 30px;
    .home-page-content{
    
        .img-container {
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
          }
        h3{
            margin: 12px 0;
        }
    }
}