.blue-row{
    background-color: #0c7cec;
    position: relative;
    height: 60px;
    img{
        position: absolute;
        bottom: 30px;
    }
}
.product-main{
    background: #fff;
    padding: 48px 0;
    .green{
        background-color: #55ba59;
        color: #fff;
        margin-bottom: 12px;
        &-price{
            padding: 12px;
            width: 70%;
            border-right: 1px solid #357739;
        }
        &-av{
            padding: 12px;
            width: 20%;
        }
    }
    .details{
        width: 40%;
        &-inner{
            h5{
                width: 25%;
            }
            p{
                width: 70%;
            }
            a{
                width: 70%;
            }
            span{
                width: 70%;
            }
        }
    }
}