@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap);.top-nav {
  background-color: #0c7cec;
  padding: 6px 0;
}
.top-nav ul {
  display: flex;
  justify-content: flex-end;
}
.top-nav ul li {
  margin-left: 48px;
}
.top-nav ul li a {
  font-size: 12px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  height: 85px;
  padding: 12px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  height: 60px;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-left: 24px;
  padding-bottom: 23px;
}
header nav ul li a:hover {
  color: #0c7cec;
  border-bottom: 5px solid #0c7cec;
}
header nav input {
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
  border: none;
  border-bottom: 2px solid #0c7cec;
}

main {
  background-color: black;
  color: #fff;
  padding: 30px;
}
main .home-page-content .img-container {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}
main .home-page-content h3 {
  margin: 12px 0;
}

footer .section-link {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}
footer .section-link .container {
  display: flex;
  justify-content: space-between;
}
footer .section-link .left-side {
  display: flex;
}
footer .section-link .left-side li {
  color: white;
  padding: 6px 24px 0 0;
  font-family: "Roboto Condensed", sans-serif;
}
footer .section-link .left-side li:first-child {
  font-weight: bold;
  padding-bottom: 14px;
}
footer .section-link .left-side li:last-child {
  padding-bottom: 14px;
}
footer .section-link .left-side a {
  color: gray;
  font-family: "Roboto Condensed", sans-serif;
}
footer .section-link .left-side a:hover {
  color: #fff;
}
footer .section-link .right-side img {
  height: 550px;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}
footer .social {
  background-color: #303030;
}
footer .social .container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
}
footer .social .container span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
footer .social .container .left-side span {
  color: white;
  padding: 10px;
  border: 1px solid #0c7cec;
  box-shadow: 0 0 2px 1px #0c7cec;
}
footer .social .container .left-side span:hover {
  border: 2px solid #0c7cec;
  box-shadow: 0 0 4px 2px #0c7cec;
  cursor: pointer;
}
footer .social .container .right-side span {
  color: #0c7cec;
}
footer .social .container .right-side img {
  padding-left: 15px;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.jumbotron {
  background-image: url(/images/jumbotron.jpg);
  height: 400px;
  background-size: cover;
}

.col-2 {
  width: calc(100% / 6);
}

.px-15 {
  padding: 0 15px;
}